      
      <div class="jumbotron">
        <h1 class="display-3"><img src="/images/knigi.jpg"style="width:100%;"></h1>
        <p><a class="btn btn-lg btn-success" href="/auth" role="button">Авторизация
            
        </a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Петр Иванов</h4>
          <p>Сдал ЕГЭ по математике на отлично!</p>

          <h4>Юлия Сидорова</h4>
          <p>Репетитор помогла успешно сдать английский язык. Подготовила к предмету, очень тактична, занятиями очень довольна!</p>

          <h4>Мария Степанова</h4>
          <p>Отличный педагог, без ее помощи не справились бы с поступлением. Цель достигнута. Спасибо!</p>
        </div>

        <div class="col-lg-6">
          <h4>Иван Морозов</h4>
          <p>Занимаюсь инофрматикой, репетитор легко находит общий язык, понятно все объясняет</p>

          <h4>Анна Петрова</h4>
          <p>Репетир заслуживает самых положительных характеристик! Требовательна, но в то же время смогла мотивировать и заинтересовать сына на изучение языка! После каждого занятия описывает минусы и плюсы в работе ученика. Обязательно продолжим обучение.</p>

          <h4>Виктор Громов</h4>
          <p>Отличный репетитор, замечательный человек, умеет найти контакт с детьми, заинтересовать. Детям с ним легко и интересно. Подготовил ребёнка к ОГЭ по математике, практически при нулевых начальных знаниях, математика нам всегда давалась с трудом. Большое спасибо!!!</p>
        </div>
      </div>

      
